# Docker Compose 및 Nginx 설정용 환경 변수

# Nginx 설정
NGINX_DOMAIN=localhost
TLS_CERT_FILE=cert.pem
TLS_KEY_FILE=privkey.pem

# API 서비스 환경 변수
ROCKET_PORT=8000
ROCKET_ADDRESS=0.0.0.0

# MongoDB 연결 정보
DATABASE_USER=your_username
DATABASE_PASS=your_password
DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_NAME=frand_api_db